*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* body,html{
    height:100%;
    width:100%;
   }*/
   nav{
       width:100vw;
       height:80px;
       background-color: brown;
   }
   label.logo{
       font-size:35px;
       color:white;
       margin:0 2rem;
      line-height: 5rem;
   }
   nav ul{
       float:right;
       list-style-type: none;
   }
   nav ul li{
       display: inline-block;
       line-height: 5rem;
       padding: 0rem 1rem;
   }
   nav ul li a{
       display: inline-block;
       padding:0rem 1rem;
       color:rgb(15, 213, 12);
       text-decoration: none;
       font-size: 1.5rem;
   }
   nav ul li a.active, a:hover{
        background-color: blueviolet;
     }
  #checkbtn{
      float:right;
      line-height: 5rem;
      margin-right:2rem;
      color:white;
      font-size: 2rem;
      display:none;
  }
  #check{
      display:none;
  }
  #check:checked ~ ul{
     left:0px;
  } 
  @media screen and (max-width:1140px){
      /* nav ul{
           display:none;
       }*/
       label.logo{
           font-size:20px;
       }
       #checkbtn{
           display:block;
       }
      nav ul{
          width:100%;
          height:100vh;
          background-color: blueviolet;
          position: fixed;
          top:80px;
          left:-100%;
          transition:.5s;
      }
      nav ul li {
          display:block;
          text-align: center;
       
         
      }
  }